<IfModule mod_rewrite.c>
    RewriteEngine On
	AddType video/webm .webm
	AddType video/mp4 .mp4
    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>